<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>

        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Necesitamos acceso a tu ubicación para poder guardar dónde has aparcado tu vehículo.</string>
    </dict>
</plist>